# 📦 PackageService DB
PACKAGE_DB_HOST=localhost
PACKAGE_DB_PORT=5432
PACKAGE_DB_NAME=packages
PACKAGE_DB_USER=postgres
PACKAGE_DB_PASS=postgres

# 🗺️ LocationService DB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB_NAME=locations

# 🔐 CheckpointService DB
CHECKPOINT_DB_NAME=checkpoints
CHECKPOINT_DB_USER=postgres
CHECKPOINT_DB_PASS=postgres

# 📦 TrackingService DB
TRACKING_DB_NAME=tracking
TRACKING_DB_USER=postgres
TRACKING_DB_PASS=postgres

# FEIGN URLs
PACKAGE_SERVICE_URL=http://localhost:8081
LOCATION_SERVICE_URL=http://localhost:8082
